{% load portal_tags %}


<footer id="footer" class="footer dark-background bg-primary customize_footer">
  <div class="container">
    <div class="row justify-content-center">
      <p>Powered by ColdFront Version {% get_version %} | <a href="https://github.com/ubccr/coldfront"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></p>
    </div>
    <div class="row justify-content-center">
      <div class="fourMSUcolumns" id="standard-footer-MSU-wordmark">
        <a href="http://www.msu.edu">    <!-- Use white MSU wordmark -->
            <img alt="Michigan State University Wordmark" class="screen-msuwordmark" src="../../static/common/images/msu-wordmark-white.svg" height="47" width="221" />
            <img alt="Michigan State University Wordmark" class="print-msuwordmark" src="../../static/common/images/msu-wordmark-black.svg" height="47" width="221" />
        </a>
      </div>
      <div class="thirteenMSUcolumns">
        <div id="standard-footer-site-nocall-links">
          <ul>
              <li><a href="https://icer.msu.edu/contact">Contact Information</a></li>
              <!-- <li><a href="/sitemap.xml">Site Map</a></li> -->
              <li><a href="https://msu.edu/privacy">Privacy Statement</a></li>
              <li><a href="https://msu.edu/accessibility">Site Accessibility</a></li>
          </ul>
        </div>
        <div id="standard-footer-MSU-info">
          <ul>
              <li>Call MSU: <span class="msu-phone"><strong>(517) 355-1855</strong></span></li>
              <li>Visit: <strong><a href="http://msu.edu">msu.edu</a></strong></li>
              <li>MSU is an affirmative-action, equal-opportunity employer.</li>
              <li><a href="http://oie.msu.edu/"><strong>Notice of Nondiscrimination</strong></a></li>
          </ul>
          <ul>
              <li class="spartans-will">Spartans Will.</li>
              <li>© Michigan State University</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
