{% load static %}
<!-- <div id="MSUheader">
  <div id="MSUmasthead" role="banner">
    <a href="http://www.msu.edu">
      <img alt="Michigan State University Masthead" id="MSUmasthead" class="msugraphic-green" 
        src="../../static/common/images/msu-masthead-green.svg"/>
      <img class="print-msugraphic" alt="Michigan State University masthead graphic" src="images/masthead-helmet-black.png"/>
    </a>
  </div>  
</div> -->
<div id="brand">
  <div class="container">
    <div class="row">
      <div class="col" id="MSUheader">
        <div id="MSUmasthead" role="banner">
          <a href="http://www.msu.edu">
            <img alt="Michigan State University Masthead" class="msugraphic-green" 
              src="../../static/common/images/msu-masthead-green.svg"/>
            <img alt="Michigan State University masthead graphic" class="print-msugraphic"
              src="../../static/common/images/msu-masthead-black.svg"/>
          </a>
        </div>  
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>ColdFront - <small>Resource Allocation System</small></h1>
      </div>
    </div>
  </div> 
</div>
