{% extends "common/base.html" %} 
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Create Grant
{% endblock %}



{% block content %}
  <a class="btn btn-info" href="{% url 'grant-orcid-import' project.pk %}" role="button">
    <i class="far fa-edit" aria-hidden="true"></i> Import Grants from ORCID
  </a>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="Save" />
    <a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}" role="button">Cancel</a><br>
</form>


{% endblock %}

